/* common css start  */
h1, h2, h3, h4, h5, h6,
ol, ul, p, small.span, button {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e3e2e2;
}

/* common css end  */
/* Header section css start  */
#header {
  background: url(../img/h_bg_1.png);
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}
#header .user_1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 113px;
  height: 58px;
  background: #00132b;
  font-size: 20px;
  color: #fef6fc;
  text-align: center;
  padding-top: 16px;
}
#header .user_2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
  height: 58px;
  background: #00132b;
  font-size: 20px;
  color: #fef6fc;
  text-align: center;
  padding-top: 16px;
}
#header #nav {
  background: #ed242d;
  position: relative;
}
#header #nav #navbar ul li a {
  color: #fef6fc;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 32px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#header #nav #navbar ul li a:hover {
  border-bottom: 1px solid #fff;
}
#header #nav .virus {
  position: absolute;
  top: 0px;
  left: 488px;
  background: #ed242d;
  width: 140px;
  height: 130px;
  border-radius: 50%;
  color: #fef6fc;
  padding-top: 20px;
  font-size: 17px;
  text-transform: uppercase;
  text-transform: 0.3s;
}
#header #nav .virus:hover {
  text-decoration: underline;
}
#header .header_content {
  margin-top: 200px;
}
#header .header_content h1 {
  font-size: 68px;
  font-weight: 700;
  color: #fef6fc;
  margin-bottom: 80px;
}
#header .header_content .btn a {
  padding: 9px 25px;
  background: #fef6fc;
  color: #00132b;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 400;
  margin-right: 15px;
  -webkit-transition: 0.3x;
  transition: 0.3x;
}
#header .header_content .btn a:hover {
  background: #ed242d;
  color: #fef6fc;
}

/* Header section css end  */
/* Corona Virus section css start  */
#corona .corona_container {
  border-radius: 60px;
  background: #fff;
  margin-top: -150px;
  -webkit-box-shadow: -5px 6px 12px -1px rgba(0, 0, 0, 0.84);
          box-shadow: -5px 6px 12px -1px rgba(0, 0, 0, 0.84);
  z-index: 9;
}
#corona .corona_container .corona_content {
  padding-top: 164px;
  padding-bottom: 128px;
  padding-left: 45px;
}
#corona .corona_container .corona_content h2 {
  font-size: 45px;
  font-weight: 700;
  color: #081419;
  margin-bottom: 20px;
}
#corona .corona_container .corona_content hr {
  width: 90px;
  height: 10px;
  background: #ed1c24;
  border-radius: 5px;
  margin-bottom: 40px;
}
#corona .corona_container .corona_content p {
  width: 500px;
  font-size: 14px;
  font-weight: 400;
  color: #081419;
  margin-bottom: 60px;
}
#corona .corona_container .corona_content a {
  padding: 15px 40px;
  background: #00132b;
  text-transform: uppercase;
  color: #fef6fc;
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#corona .corona_container .corona_content a:hover {
  background: #ed242d;
  color: #fef6fc;
}
#corona .corona_container .corona_img img {
  margin-top: 80px;
  padding-right: 40px;
}

/* Corona Virus section css end  */
/* Corona Virus_3 section css start  */
#corona_3 {
  margin-top: 140px;
  margin-bottom: 125px;
}
#corona_3 .corona_3_content {
  margin-left: 70px;
}
#corona_3 .corona_3_content h2 {
  font-size: 45px;
  font-weight: 700;
  color: #151515;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 40px;
}
#corona_3 .corona_3_content p {
  font-size: 17px;
  font-weight: 400;
  color: #151515;
  margin-bottom: 40px;
  line-height: 28px;
}
#corona_3 .corona_3_content a {
  padding: 15px 40px;
  background: #00132b;
  text-transform: uppercase;
  color: #fef6fc;
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#corona_3 .corona_3_content a:hover {
  background: #ed242d;
  color: #fef6fc;
}

/* Corona Virus_3 section css end  */
/* Protect section css start  */
#protect {
  margin-bottom: 170px;
}
#protect .title h2 {
  font-size: 45px;
  font-weight: 700;
  color: #1b1b1b;
}
#protect .title p {
  font-size: 15px;
  color: #151515;
  font-weight: 400;
  margin-bottom: 45px;
}
#protect .protect_container {
  background: url(../img/corona_bg.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  border-radius: 100px;
  padding-top: 130px;
  padding-left: 120px;
}
#protect .protect_container .protect_contant {
  width: 300px;
  margin-right: 20px;
}
#protect .protect_container .protect_contant .protect_box {
  width: 300px;
  height: 280px;
  background: #fef6fc;
  border-radius: 15px;
  padding: 0 20px;
}
#protect .protect_container .protect_contant .protect_box img {
  margin-top: 40px;
  margin-bottom: 20px;
}
#protect .protect_container .protect_contant .protect_box h6 {
  font-size: 17px;
  font-weight: 700;
  color: #0d0e0e;
  margin-bottom: 15px;
}
#protect .protect_container .protect_contant .protect_box p {
  font-size: 12px;
  font-weight: 400;
  color: #081419;
}
#protect .protect_container .protect_contant a {
  display: inline-block;
  padding: 20px 45px;
  background: #00132b;
  text-transform: uppercase;
  color: #fef6fc;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 65px;
}
#protect .protect_container .protect_contant a:hover {
  background: #ed242d;
  color: #fef6fc;
}

/* Protect section css end  */
/* Corona_4 section css start  */
#corona_4 .title h2 {
  font-size: 45px;
  font-weight: 700;
  color: #1b1b1b;
  margin-bottom: 30px;
}
#corona_4 .title p {
  font-size: 17px;
  color: #151515;
  font-weight: 400;
  margin-bottom: 56px;
}
#corona_4 .corona_box {
  width: 360px !important;
  background: #fbfbfb;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}
#corona_4 .corona_box .virus_2 {
  position: absolute;
  bottom: -40px;
  left: 134px;
}
#corona_4 .corona_box .corona_box_img {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#corona_4 .corona_box .corona_box_img .overflow {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#corona_4 .corona_box .corona_box_img .overflow a {
  padding: 14px 36px;
  background: #ed1c24;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fef6fc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#corona_4 .corona_box .corona_box_img .overflow a:hover {
  background: #081419;
  color: #fbfbfb;
}
#corona_4 .corona_box .corona_box_text a {
  display: inline-block;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 5px;
}
#corona_4 .corona_box .corona_box_text p {
  font-size: 15px;
  font-weight: 400;
  color: #081419;
  margin-bottom: 40px;
}

/* Corona_4 section css end  */
/* Doctor section css start  */
#doctor {
  position: relative;
  margin-top: 120px;
}
#doctor .virus_3 {
  position: absolute;
  top: 248px;
  right: 12px;
}
#doctor .virus_4 {
  position: absolute;
  bottom: 50px;
}
#doctor .title h2 {
  font-size: 45px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 100px;
}
#doctor .doctor_info {
  background: #fdfdfd;
  padding: 0 50px;
  border-radius: 10px;
  position: relative;
  width: 550px;
  margin-right: 20px;
}
#doctor .doctor_info .doctor_img {
  position: absolute;
  background: #fdfdfd;
  top: -66px;
  left: 224px;
  border-radius: 50px;
}
#doctor .doctor_info h6 {
  font-size: 20px;
  font-weight: 700;
  color: #081419;
  margin-top: 90px;
  margin-bottom: 25px;
}
#doctor .doctor_info p {
  font-size: 15px;
  font-weight: 400;
  color: #081418;
  margin-bottom: 50px;
}
#doctor .doctor_info img {
  margin-bottom: 60px;
}
#doctor .title_2 h2 {
  font-size: 45px;
  font-weight: 700;
  color: #242424;
  margin-top: 135px;
  margin-bottom: 60px;
}

/* Doctor section css end  */
/* Email section css start  */
#email {
  background: url(../img/email_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 335px;
}
#email .input input {
  display: block;
  margin-top: 75px;
  width: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #ebeaeb;
  padding: 30px;
  border-radius: 50px;
  color: #fdfdfd;
  margin-bottom: 30px;
}
#email .subscribe .submit {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  background: #00132b;
  color: #fbfbfb;
  padding: 25px 70px;
  border: 1px solid #00132b;
  border-radius: 50px;
}

/* Email section css end  */
/* Footer section css start  */
#footer {
  background: #101011;
  padding-top: 108px;
}
#footer .resoursce h6 {
  font-size: 24px;
  font-weight: 700;
  color: #fefefd;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#footer .resoursce ul li a {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  color: #fef6fc;
  margin-bottom: 17px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#footer .resoursce ul li a:hover {
  text-decoration: underline;
}
#footer .about h6 {
  font-size: 24px;
  font-weight: 700;
  color: #fefefd;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#footer .about p {
  font-size: 17px;
  font-weight: 400;
  color: #fefefd;
  line-height: 35px;
}
#footer .contact h6 {
  font-size: 24px;
  font-weight: 700;
  color: #fefefd;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#footer .contact ul li {
  margin-bottom: 20px;
}
#footer .contact ul li i {
  font-size: 26px;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}
#footer .contact ul li p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
#footer .contact ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#footer .contact ul li a:hover {
  text-decoration: underline;
}
#footer .country {
  margin-left: -78px;
}
#footer .country h6 {
  font-size: 24px;
  font-weight: 700;
  color: #fefefd;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#footer hr {
  color: #4e4e4e;
  margin-bottom: 30px;
}
#footer p {
  font-size: 17px;
  font-weight: 400;
  color: #fefefd;
  margin-bottom: 30px;
}

/* Footer section css end  *//*# sourceMappingURL=style.css.map */